@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

html {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 100%;
  box-sizing: border-box;
  line-height: 1.3;
}
*, *::before, *::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
}

.container {
  border: 1px solid aqua;
  margin: 0 auto;
  width: 80%;
  text-align: center;
}
.header {
  border: 1px solid aqua;
  padding: 90px 0 0 0;
}
.logo {
  width: 90px;
  height: 39px;
}
.launch h1 {
  color: #D8D8D8;
  font-size: 48px;
  font-weight: 300;
  margin: 0;
  padding: 60px 0 0 0;
}
.launch h1 span {
  color: #142029;
  font-weight: 600;
}

/* @media (min-width: 375px) {

}

@media (min-width: 1440px) {

} */